@using System.Security.Claims
@model IEnumerable<ForumApp.Models.Topic>

@{
    ViewData["Title"] = "Index";
}

<h1>Мои темы</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            if (this.User.Identity!.IsAuthenticated && item.Created_By == @User.FindFirst(ClaimTypes.NameIdentifier)?.Value)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Перейти к теме</a>
                    </td>
                </tr>
            }
}
    </tbody>
</table>
